.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

h3 {
  grid-column: 1 / -1; /* Título ocupa toda la fila */
  margin-top: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.full-width {
  grid-column: 1 / -1;
}