.app-container {
  height: 100vh;
  width: 100vw;
}

.app-sidenav {
  width: 240px;
  background-color: #f4f6f8;
  border-right: 1px solid #e0e0e0;
}

.sidenav-toolbar {
  background-color: #3f51b5; /* Color primario de Material */
  color: white;
  padding: 0 16px;
}

.sidenav-toolbar mat-icon {
  margin-right: 12px;
}

/* Estilos para los elementos de la lista de navegación */
.mat-nav-list a {
  color: #333;
  transition: background-color 0.3s ease;
}

.mat-nav-list a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* Estilo para el enlace que está activo */
.active-link {
  background-color: #e8eaf6; /* Un color de acento sutil */
  color: #3f51b5 !important; /* Color primario */
  font-weight: 500;
}

.active-link mat-icon {
  color: #3f51b5 !important;
}

/* Contenedor del contenido principal */
.app-content {
  background-color: #fafafa;
  padding: 24px;
}